.job {
  display: block;
  width: 70%;
  background: rgb(245, 245, 245);
  margin: 0px auto;
  padding: 10px 10px;
  text-align: left;
  box-shadow: 0 3px 6px rgba(155, 197, 248, 0.904), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  /* background-image: linear-gradient(#c2d2dd, #f1efef); */
  margin-bottom: 20px;
}

.job h2 {
  color: rgb(76, 76, 212);
}

.job button {
  border: none;
  background-color: #ffffff00;
  text-align: left;
  font: normal 0.9em sans-serif;
  border-right: 1px solid rgb(204, 201, 201);
  padding: 0px 15px;
}

.job p {
  text-decoration: none;
}
.job .third-btn {
  border-right: none;
}

.job .first-btn {
  padding-left: 0px;
}

.job .btn-text {
  border-bottom: 1px solid rgb(245, 245, 245)
}

.job .btn-text:hover {
  cursor: pointer;
  border-bottom: 1px solid #E47911;
  color: #E47911;
}

.position-title {
  color: rgb(43, 43, 43);
}

.job-status {
  color: rgb(50, 173, 76);
  font: normal 0.9em sans-serif;
}

.position-title,  .job-status, .btns-wrapper {
  margin-top: 5px;
}

button p {
  color: rgb(78, 78, 78);
}