.cancel-button {
  margin-left: 1%;
}

.buttons-wrapper {
  width: 80%;
  margin: 0 auto 30px auto;
  text-align: center;
}

/* add new job/activity button */

.w3-circle {
  border-radius: 50%;
}

body .w3-black {
  color: #fff;
  background: linear-gradient(0deg, #1a2329, #81878b) no-repeat;
}

.w3-black:hover {
  background-color: rgb(59, 58, 58);
}

.w3-xlarge {
  font-size: 24px;
}

.w3-btn, .w3-button {
  outline: none;
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: none;
  display: inline-block;
  padding: 15px 22px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}