body .jobs-section {
  width: 80%;
  margin:0 auto;
  padding-top: 15%;
}

.list-text-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.no-results-wrapper {
  width: 100%;
  text-align: center;
}

.no-results-message {
  margin-top: 10px;
  font: normal 0.9em 'Open Sans', sans-serif;
}
