  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 80px;
    background-color: #ffffffe3;
    z-index: 1;
  }

header ul {
  margin: 0 0;
}

header h1 {
  float: left;
  font: normal 1.6em 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  color:#000000;
}

header img {
  float: left;
}

nav ul {
  float: right;
  margin: 0 0;
  padding: 5px 20px;
}

nav li {
  display: inline;
  padding-left: 40px;
}

nav li a {
  text-decoration: none;
  color:#020202;
  font: normal 0.9em 'Roboto', sans-serif;
  transition: color 0.2s ease-out;
}

nav li a:hover {
  color: #4075c5;
}


