

/* =============== */
@media screen and (min-width: 320px) and (max-width: 680px) {
  body .react-datepicker-popper {
    transform: translate(40%, 135%) !important;
  }
}

@media screen and (min-width: 681px) and (max-width: 1024px) {
  body .react-datepicker-popper {
    transform: translate(100%, 135%) !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body .react-datepicker-popper {
    transform: translate(150%, 135%) !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1800px) {
  body .react-datepicker-popper {
    transform: translate(175%, 135%) !important;
  }
}