* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  position: relative;
}

#root {
  width: 65%;
  /* background-color: #ffffff; */
  margin: 120px auto 0 auto;
  padding: 15px 0px;
}

