.header-content-section {
  width: 100%;
  height: 540px;
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

aside, .img-wrapper {
  width: 50%;
}

aside {
  text-align: left;
}

.img {
  height: 100%;
  width: 94%;
  background-image: url('../../images/header-main-img.png');
  background-position: 0% 20%;
  box-shadow: inset 0px 0px 18px 12px rgb(255, 252, 252);
}

h4 {
  font: bold 2em 'Open Sans', sans-serif;
  padding-top: 10%;
  padding-left: 15%;
}

h3 {
  font: normal 1.2em 'Open Sans', sans-serif;
  padding: 5%;
  padding-left: 15%;
}

.links-wrapper {
  padding-left: 15%;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
}

.link-to-signup {
  width: 30%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #E83F53;
  transition: background-color 0.3s ease-in-out;
}

.link-to-signup:hover {
  background-color: rgb(133, 48, 58);
  cursor: pointer;
}

.link-to-signup a {
  color: #ffffff;
  text-decoration: none;
  font: normal 1.2em 'Open Sans', sans-serif;
}

.links-wrapper p {
  margin-left: 3%;
  font: bold 1em 'Open Sans', sans-serif;
  color: rgb(59, 93, 204);
  transition: color 0.3s ease-out;
}

.links-wrapper p:hover {
  cursor: pointer;
  color: rgb(34, 35, 39);
}

/* ///////////////////////////////////////// */

/* main section */
main {
  width: 100%;
  margin-top: 20px;
  background-color: #FFFFFF;
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

h2 {
  font: bold 1.5em 'Open Sans', sans-serif;
}

.description {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: center;
  text-align: center;
}

.description .img-wrapper {
  padding: 20px;
  width: 33%;
  text-align: center;
}

h5 {
  font: bold 1em 'Open Sans', sans-serif;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
}

/* calendar description section */
.description-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.text-wrapper {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  padding: 20px 114px;
}

h6 {
  font: bold 1.5em 'Open Sans', sans-serif;
  padding-bottom: 10px;
}

.text-wrapper p {
  color: #696969;
  font: normal 1.2em 'Open Sans', sans-serif;
}

.calendar-img {
  width:  100%;
  max-width: 450px;
}

/* join us */
.join-us {
  background-color: #E84255;
}

.img-wrapper.left {
  padding: 10px;
  text-align: right;
}

.text-wrapper.right {
  padding: 10px;
  width: 50%;
  text-align: left;
}

p.join-us-text {
  color: #ffffff;
  width: 65%;
  font: normal 1.5em 'Open Sans', sans-serif;
}

button.with-border {
  border: 1px solid #ffffff;
  margin-top: 10px;
}

/* footer */
footer {
  background-color: #3D3D3D;
  width: 100%;
  padding: 10px 30px;
}

.footer-title-wrapper h1 {
  float: none;
  font: normal 1.6em 'Fjalla One', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #6B6B6B;
}

.footer-title-wrapper img {
  float: left;
}